<style>

body {
}
h1 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 6.5em;
  text-align: center;
}
p {
  font-family: 'EB Garamond', 'Times', serif;
  font-size: 2.5em;
  text-align: center;
}
.heading_small {
  font-size: 0.4em;
}

</style>
